@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Nunito+Sans:opsz@6..12&family=Oswald:wght@300;400;500&family=Poppins:wght@200&family=Roboto+Slab:wght@700&family=Sofia+Sans+Condensed:ital,wght@1,200&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.navbar{
    border: 0.1px solid rgb(187, 185, 185);
    height: auto; 
}
.container-fluid{
  
    margin-left: 30px;
    margin-right: 20px;
   
    padding: 0;
    border: 0;
    &__ul{
        display: flex;
      &__li{
        margin-left: 20px;
        color: #04BBF2;
        font-size: 14px;
        
        &__a{
            font-size: 14px;
            text-decoration: none;
            font-weight: 400;
           
        }
      }
      &__btn{
      
        width: 150px;
        height: 30px;
        background-color: #10385B;
        color: white;
    //    display: flex;
        margin-left: 10px;
      }
    }
}




@include mobile{
    .container-fluid{
        margin-right: 0px;
    }
    .container-fluid__ul{
        display: block;
    }
    .container-fluid__ul__li{
        margin-left: 0px;
    }
    .container-fluid__ul__btn{
        
        height: auto;
        margin-left: 0px;
    }



}