.cardcontainer{
    width: 35%;
    margin: 10px;
    height: auto;
    background-color: #03549F;
    box-shadow: 5px 5px 5px 5px lightblue;
    &__h2{
        font-size: 18px;
        font-weight: 900;
        color: white;
        margin-left: 20px;
       padding-top: 20px;
    }
    &__P{
       
        margin-left: 20px;
        font-size: 14px;
        padding-top: 20px;
      
    }
    &__h3{
        color: white;
        margin-left: 20px;
        font-size: 14px;
        font-weight: 800;
    }
}

@include mobile{
    .cardcontainer{
        width: auto;
        height: auto;
    } 
}