.card {

    width: 18%;
    height: 30vh;
    // background-color: aqua;
    margin: 10px;
    border: none;
 



    &__images {
        
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__h4 {
        padding-top: 30px;
        font-size: 18px;
        font-weight: 800;
        padding-top: 10px;
        color: #10385B;
    }

    &__p {

        font-size: 16px;
        padding-top: 20px;
    }

    &--new {
        border: none;
        border-radius: 0px;
        width: 18%;
        height: 30vh;
        background-color: #2B98F7;

        &__h4 {
            color: white;
            font-size: 18px;
            font-weight: 800;
            // padding-top: 10px;
            margin-top: 70px;
            margin-left: 80px;
            padding-bottom: 10px;
           
        }

        &__p {
            font-size: 16px;
            margin-top: 160px;
            margin-left: 50px;
            position: absolute;
           
        }
    }
}

@include mobile {
    .card {
        width: 100%;
        height: auto;
        margin: 10px;


    }

    .card__h4 {
        font-size: 14px;
    }

    .card__p {
        font-size: 14px;
    }

    .card--new {
        width: 100%;
        height: auto;
        padding: 10px;
        margin: 10px;
    }
    .card--new__h4{
        margin-top: 20px;
        margin-left: 100px;
    }
    .card--new__p{
        margin-top: 80px;
        margin-left: 50px; 
        padding-bottom: 10px;
    }

}